.Flex {
	display: flex;
}

.justifyStart {
	justify-content: flex-start;
}

.justifyCenter {
	justify-content: center;
}

.justifyEnd {
	justify-content: flex-end;
}

.justifyBetween {
	justify-content: space-between;
}

.justifyEvenly {
	justify-content: space-evenly;
}

.alignStart {
	align-items: flex-start;
}

.alignCenter {
	align-items: center;
}

.alignEnd {
	align-items: flex-end;
}

.directionRow {
	flex-direction: row;
}

.directionColumn {
	flex-direction: column;
}

.gapXS {
	gap: 4px;
}

.gapS {
	gap: 8px;
}

.gapM {
	gap: 16px;
}

.gapL {
	gap: 24px;
}

.gapXL {
	gap: 32px;
}

.max {
	width: 100%;
}

.wrap {
	flex-wrap: wrap;
}

.nowrap {
	flex-wrap: nowrap;
}