.app.dark {
  --bg-color: rgba(71, 0, 163, 0.452);
  --inverted-bg-color: #efefef;

  --primary-color: rgb(17, 188, 255);
  --secondary-color: rgb(226, 150, 9);

  --inverted-primary-color: #00d134;
  --inverted-secondary-color: #00d853;
}
