.app-leaf-theme {
	--bg-color: #33916b;
	--inverted-bg-color: #f4fbf8;
	--primary-color: #33916b;
	--secondary-color: #287129;
	--inverted-primary-color: #f4fbf8;
	--inverted-secondary-color: #f4fbf8;

	// redesigned
	--dark-bg-redesigned: #fff3d6;
	--bg-redesigned: #f0c048;
	--light-bg-redesigned: #f2d791;
	--text-redesigned: #1b1311;
	--hint-redesigned: #b8b2a2;
	--cancel-redesigned: #ff5e5e;
	--save-redesigned: #52fa81;
	--icon-redesigned: #4875f0;
	--accent-redesigned: #1d59ff;
	
	// skeleton
	--skeleton-shadow: #33916b;
	--skeleton-color: #287129;

	// code
	--code-bg: #1e5740;

	// card
	--card-bg: #49b489;

	// list-box
	--list-box-bg: #49b489;
}
