.app-leaf-theme {
  --bg-color: #33916B;
  --inverted-bg-color: #F4FBF8;
  --primary-color: #33916B;
  --secondary-color: #287129;
  --inverted-primary-color: #F4FBF8;
  --inverted-secondary-color: #F4FBF8;

  // skeleton 
  --skeleton-shadow: #33916B;
  --skeleton-color: #287129;

  // code
  --code-bg: #1e5740;
  
   // card
   --card-bg: #49b489;
}
