.app-leaf-theme {
  --bg-color: #33916B;
  --inverted-bg-color: #F4FBF8;
  --primary-color: #33916B;
  --secondary-color: #287129;
  --inverted-primary-color: #F4FBF8;
  --inverted-secondary-color: #F4FBF8;
}
