.app-light-theme {
	--bg-color: #ebebeb;
	--inverted-bg-color: #008d47;
	--primary-color: #ff4848;
	--secondary-color: #0a0a0a;
	--inverted-primary-color: #11bcff;
	--inverted-secondary-color: #0d6ddb;


	// redesigned
	--dark-bg-redesigned: #fff;
	--bg-redesigned: #eff5f6;
	--light-bg-redesigned: #e2eef1;
	--text-redesigned: #141c1f;
	--hint-redesigned: #adbcc0;
	--cancel-redesigned: #f77;
	--save-redesigned: #62de85;
	--icon-redesigned: #5ed3f3;
	--accent-redesigned: #00c8ff;

	// skeleton
	--skeleton-shadow: #ff4848;
	--skeleton-color: #ff4848;

	// code
	--code-bg: #bebebe;

	// card
	--card-bg: #b6b3b3;

	// list-box
	--list-box-bg: #b6b3b3;
}
