.app.light {
  --bg-color: #ebebeb;
  --inverted-bg-color: #008d47;

  --primary-color: #ff4848;
  --secondary-color: #0a0a0a;

  --inverted-primary-color: #11bcff;
  --inverted-secondary-color: #0d6ddb;
}
