.NavBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    font-weight: var(--font-weight-bold);
}
