.ProfileCard {
  margin: 0 20px;
  padding: 20px;
  border: 2px solid var(--bg-color);
}

.data {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.loading {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}