.ProfileCard {
  margin: 0 20px;
  padding: 20px;
  border: 2px solid var(--bg-color);
}

.loading {
  height: 250px;
}

.readonly {
  border: 2px solid var(--inverted-bg-color);
  background-color: var(--bg-color);
}