.AppLink {
    text-decoration: none;
    color: var(--primary-color);

    &:hover {
        opacity: 0.8;
    }
}

.primary {
    color: rgb(163 235 29);
}

.secondary {
    color: rgb(211 115 255);
}
